.comic-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.middle-text {
  position: absolute;
  background-color: #0082F9;
  padding: 4px 8px;
  top: -68px;
}

.blue-layout {
  height: 80px;
  background-color: #0082F9;
  .thumb {
    height: 300px;
    width: auto;
    position: absolute;
    top: -230px;
  }
}

.main-info-comic {
  background-color: #FFF;
  color: black;
  padding: 50px 0;
  .title {
    text-transform: uppercase;
  }
  .info-status {
    background-color: #55BA58;
    margin: 15px auto;
    border: 1px solid black;
    color: white;
    .c-green {
      color: #ADFA90;
    }
    .row {
      padding: 12px 18px;
    }
    .border-right{
      border-right: 1px solid black;
    }
  }
}

.footer-info-comic {
  background-color: #F6F6F6;
  color: #003F5D;
  padding: 50px 0;
  a {
    font-size: 13px;
  }
}